@model AspNetInicializar.Models.Zoo
@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Cadastrar</h1>

<form asp-action="Cadastrar" asp-controller="Zoo">
    <div class="form-group">
        <label asp-for="Nome"></label>
        <input asp-for="Nome" class="form-control"></input>
    </div>
    <div class="form-group">
        <label asp-for="Jaulas"></label>
        <input asp-for="Jaulas" class="form-control"></input>
    </div>
    <div class="form-group">
        <label asp-for="DataAbertura"></label>
        <input asp-for="DataAbertura" class="form-control"></input>
    </div>
    <div class="form-group">
        <label asp-for="EntidadeAdministradora"></label>
        <select asp-for="EntidadeAdministradora" class="form-control" asp-items="@Html.GetEnumSelectList<Tipo>()">
            <option>Selecione</option>
        </select>
    </div>
    <input type="submit" value="Cadastrar" class="btn btn-dark" />
</form>

